<div class="w3-container" style="padding:0">
  <div class="w3-bar w3-black">

    
    
    
    <button class="w3-bar-item w3-button" routerLink="/task1">Task 1</button>
    <button class="w3-bar-item w3-button" routerLink="/task2" >Task 2</button>
    <button class="w3-bar-item w3-button" routerLink="/task3" >Task 3</button>
    <button class="w3-bar-item w3-button" routerLink="/task4" >Task 4</button>
    <button class="w3-bar-item w3-button" routerLink="/excel" >Excel to JSON</button>
    
  </div>
  </div>
<router-outlet></router-outlet>
  