 
<div>
    <h1>Weightage Calculation</h1>
    <p>The Phone brand given  is {{ brand }} of rating {{ brandRating }}</p>
    <p>The Contact given  is {{ contact }} of rating {{ contactRating }}</p>
    <p>The Photo clarity given  is {{ photoClarity }} of rating {{ photoClarityRating }}</p>
    <p>The submittion given  is {{ submittion }} of rating {{ submittionRating }}</p>
    <p>The CompColleg given  is {{ compColleg }} of rating {{ compCollegRating }}</p>
    <p>Total weightage calculated : {{ totalWeightage }}</p>
  </div>